body {
  font-family: "Montserrat";
}

nav {
  margin-bottom: 100px;
}

h1 {
  line-height: 1.5;
  color: white;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  padding: 0 10%;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

#title {
  background-color: #ff4b67;
  max-height: 90vh;
  overflow: hidden;
}

.container-fluid {
  padding: 50px 10%;
}

.big-margin {
  margin: 50px 16px 50px 0;
}

#features {
  text-align: center;
  padding: 100px 10%;
}

#features i {
  color: #f39c8f;
  font-size: 50px;
  margin-bottom: 10px;
}

#testimonials {
  background-color: #f39c8f;
  color: white;
  text-align: center;
  padding: 100px 0;
}

#testimonials img {
  border-radius: 50%;
  width: 150px;
  margin-top: 30px;
  margin-right: 15px;
}
#press {
  background-color: #f39c8f;
  padding: 0 10% 100px;
  text-align: center;
}

#press img {
  max-width: 100%;
  margin: 10px 0;
}

#pricing {
  text-align: center;
  padding: 100px 5%;
}

.pricing-cards {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
}

#cta,
#footer {
  text-align: center;
  color: white;
  padding: 50px 10%;
}

#footer {
  padding: 20px;
}

#cta button {
  margin: 15px 8px;
}

.tindog-photo {
  transform: rotate(25deg);
  width: 60%;
  margin: 0 auto;
  display: block;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 32px;
}
